[*]
charset = utf-8-bom
end_of_line = crlf
trim_trailing_whitespace = true
insert_final_newline = false
indent_style = space
indent_size = 4

# Microsoft .NET properties
csharp_new_line_before_members_in_object_initializers = false
csharp_preferred_modifier_order = public, private, protected, internal, file, new, static, abstract, virtual, sealed, readonly, override, extern, unsafe, volatile, async, required:suggestion
csharp_style_prefer_utf8_string_literals = true:suggestion
csharp_style_var_elsewhere = true:suggestion
csharp_style_var_for_built_in_types = true:suggestion
csharp_style_var_when_type_is_apparent = true:suggestion
dotnet_naming_rule.unity_serialized_field_rule.import_to_resharper = True
dotnet_naming_rule.unity_serialized_field_rule.resharper_description = Unity serialized field
dotnet_naming_rule.unity_serialized_field_rule.resharper_guid = 5f0fdb63-c892-4d2c-9324-15c80b22a7ef
dotnet_naming_rule.unity_serialized_field_rule.severity = warning
dotnet_naming_rule.unity_serialized_field_rule.style = lower_camel_case_style
dotnet_naming_rule.unity_serialized_field_rule.symbols = unity_serialized_field_symbols
dotnet_naming_style.lower_camel_case_style.capitalization = camel_case
dotnet_naming_symbols.unity_serialized_field_symbols.applicable_accessibilities = *
dotnet_naming_symbols.unity_serialized_field_symbols.applicable_kinds = 
dotnet_naming_symbols.unity_serialized_field_symbols.resharper_applicable_kinds = unity_serialised_field
dotnet_naming_symbols.unity_serialized_field_symbols.resharper_required_modifiers = instance
dotnet_sort_system_directives_first = false
dotnet_style_parentheses_in_arithmetic_binary_operators = never_if_unnecessary:none
dotnet_style_parentheses_in_other_binary_operators = always_for_clarity:none
dotnet_style_parentheses_in_relational_binary_operators = never_if_unnecessary:none
dotnet_style_predefined_type_for_locals_parameters_members = true:suggestion
dotnet_style_predefined_type_for_member_access = true:suggestion
dotnet_style_qualification_for_event = false:suggestion
dotnet_style_qualification_for_field = false:suggestion
dotnet_style_qualification_for_method = false:suggestion
dotnet_style_qualification_for_property = false:suggestion
dotnet_style_require_accessibility_modifiers = for_non_interface_members:suggestion

# ReSharper properties
resharper_align_multiline_binary_expressions_chain = false
resharper_apply_auto_detected_rules = false
resharper_autodetect_indent_settings = true
resharper_blank_lines_after_multiline_statements = 1
resharper_blank_lines_around_auto_property = 0
resharper_blank_lines_around_property = 0
resharper_braces_for_for = required
resharper_braces_for_foreach = required
resharper_braces_for_ifelse = required
resharper_braces_for_while = required
resharper_cpp_max_line_length = 180
resharper_csharp_blank_lines_around_field = 0
resharper_csharp_empty_block_style = together_same_line
resharper_csharp_max_line_length = 325
resharper_csharp_wrap_before_binary_opsign = true
resharper_csharp_wrap_before_ternary_opsigns = false
resharper_csharp_wrap_lines = false
resharper_csharp_wrap_parameters_style = chop_if_long
resharper_csharp_wrap_ternary_expr_style = wrap_if_long
resharper_formatter_off_tag = @formatter:off
resharper_formatter_on_tag = @formatter:on
resharper_formatter_tags_enabled = true
resharper_fsharp_max_line_length = 180
resharper_html_max_line_length = 180
resharper_instance_members_qualify_declared_in = base_class
resharper_keep_existing_declaration_block_arrangement = true
resharper_linebreaks_around_razor_statements = false
resharper_place_accessorholder_attribute_on_same_line = false
resharper_place_field_attribute_on_same_line = false
resharper_place_simple_accessorholder_on_single_line = true
resharper_place_simple_anonymousmethod_on_single_line = false
resharper_razor_remove_blank_lines_near_braces = true
resharper_resx_max_line_length = 180
resharper_shaderlab_max_line_length = 180
resharper_show_autodetect_configure_formatting_tip = false
resharper_space_within_slice_pattern = false
resharper_t4_max_line_length = 180
resharper_use_continuous_indent_inside_initializer_braces = false
resharper_use_indent_from_vs = false
resharper_vb_max_line_length = 180
resharper_xmldoc_max_line_length = 180
resharper_xml_max_line_length = 180

# ReSharper inspection severities
resharper_access_to_disposed_closure_highlighting = hint
resharper_arrange_object_creation_when_type_evident_highlighting = hint
resharper_arrange_redundant_parentheses_highlighting = hint
resharper_arrange_this_qualifier_highlighting = hint
resharper_arrange_type_member_modifiers_highlighting = hint
resharper_arrange_type_modifiers_highlighting = hint
resharper_built_in_type_reference_style_for_member_access_highlighting = hint
resharper_built_in_type_reference_style_highlighting = hint
resharper_can_simplify_dictionary_lookup_with_try_get_value_highlighting = hint
resharper_class_never_instantiated_global_highlighting = none
resharper_class_with_virtual_members_never_inherited_global_highlighting = hint
resharper_cognitive_complexity_highlighting = hint
resharper_collection_never_queried_global_highlighting = hint
resharper_compare_of_floats_by_equality_operator_highlighting = none
resharper_condition_is_always_true_or_false_according_to_nullable_api_contract_highlighting = none
resharper_convert_if_statement_to_conditional_ternary_expression_highlighting = hint
resharper_convert_if_statement_to_null_coalescing_expression_highlighting = hint
resharper_convert_to_lambda_expression_highlighting = hint
resharper_convert_to_primary_constructor_highlighting = hint
resharper_convert_to_using_declaration_highlighting = hint
resharper_convert_type_check_pattern_to_null_check_highlighting = none
resharper_entity_framework_model_validation_unlimited_string_length_highlighting = hint
resharper_explicit_caller_info_argument_highlighting = hint
resharper_html_path_error_highlighting = hint
resharper_localizable_element_highlighting = hint
resharper_member_can_be_private_global_highlighting = none
resharper_member_can_be_protected_global_highlighting = hint
resharper_method_has_async_overload_with_cancellation_highlighting = warning
resharper_mvc_action_not_resolved_highlighting = none
resharper_mvc_controller_not_resolved_highlighting = none
resharper_mvc_invalid_model_type_highlighting = warning
resharper_not_accessed_positional_property_global_highlighting = none
resharper_possible_multiple_enumeration_highlighting = hint
resharper_private_field_can_be_converted_to_local_variable_highlighting = suggestion
resharper_property_can_be_made_init_only_global_highlighting = none
resharper_property_can_be_made_init_only_local_highlighting = hint
resharper_razor_assembly_not_resolved_highlighting = warning
resharper_redundant_anonymous_type_property_name_highlighting = none
resharper_redundant_base_qualifier_highlighting = warning
resharper_replace_async_with_task_return_highlighting = hint
resharper_suggest_base_type_for_parameter_highlighting = hint
resharper_suggest_var_or_type_built_in_types_highlighting = hint
resharper_suggest_var_or_type_elsewhere_highlighting = hint
resharper_suggest_var_or_type_simple_types_highlighting = hint
resharper_too_wide_local_variable_scope_highlighting = hint
resharper_unused_auto_property_accessor_global_highlighting = none
resharper_unused_member_in_super_global_highlighting = hint
resharper_unused_method_return_value_local_highlighting = hint
resharper_unused_type_global_highlighting = none
resharper_use_null_propagation_highlighting = suggestion
resharper_web_config_module_not_resolved_highlighting = warning
resharper_web_config_type_not_resolved_highlighting = warning
resharper_web_config_wrong_module_highlighting = warning

[*.{appxmanifest,asax,ascx,aspx,axaml,build,c,c++,c++m,cc,ccm,cginc,compute,cp,cpp,cppm,cs,cshtml,cu,cuh,cxx,cxxm,dtd,fs,fsi,fsscript,fsx,fx,fxh,h,hh,hlsl,hlsli,hlslinc,hpp,hxx,inc,inl,ino,ipp,ixx,master,ml,mli,mpp,mq4,mq5,mqh,mxx,nuspec,paml,razor,resw,resx,shader,skin,tpp,usf,ush,uxml,vb,xaml,xamlx,xoml,xsd}]
indent_style = space
indent_size = 4
tab_width = 4

[*.{yaml,yml}]
indent_style = space
indent_size = 2
tab_width = 2